<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= assigns[:page_title] || "Squeak · Index" %></title>

  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/back.css") %>"/>
  <%= csrf_meta_tag() %>
</head>

<body>

  <!-- Navigation -->
  <%= render "_nav.html", conn: @conn, current_user: @current_user, registration_enabled: @registration_enabled %>

  <!-- Page Content -->
  <div class="container-fluid">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="content-body col-md-6 offset-md-2">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <div><%= render @view_module, @view_template, assigns %></div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-2">

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Administration</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li>
                <%= link "Configuration", to: "/admin/config" %>
              </li>
              <li>
                <%= link "Media manager", to: SqueakWeb.Router.Helpers.admin_media_path(@conn, :list) %>
              </li>
            </ul>

            <hr>

            <ul class="list-unstyled mb-0">
              <li>
                <%= link "All posts", to: SqueakWeb.Router.Helpers.admin_post_path(@conn, :list) %>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%= render "_footer.html", conn: @conn, current_user: @current_user %>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/jquery-3.5.1.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/bootstrap.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/moment-with-locales.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/select2.full.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/easymde.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/phoenix.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/phoenix_html.js") %>"></script>
  <%= render_existing @view_module, "scripts.html", assigns %>
  <%= render_existing @view_module, "#{@conn.private.phoenix_action}_scripts.html", assigns %>
</body>

</html>
