<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= assigns[:page_title] || "Squeak · Index" %></title>

  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/front.css") %>"/>
  <%= csrf_meta_tag() %>
</head>

<body>

  <!-- Navigation -->
  <%= render "_nav.html", conn: @conn, current_user: @current_user, registration_enabled: @registration_enabled %>

  <!-- Page Content -->
  <div class="container-fluid">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="content-body col-md-6 offset-md-2">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <div><%= render @view_module, @view_template, assigns %></div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-2">

        <!-- Search Widget -->
        <%= render "_search.html", conn: @conn %>

        <!-- Fourre tout -->
        <div class="card my-4">
          <h5 class="card-header">Meta</h5>
          <div class="card-body">
            <%= if @conn.private.phoenix_controller == SqueakWeb.BlogController and @conn.private.phoenix_action == :list do %>
              <%= link to: SqueakWeb.Router.Helpers.blog_feed_url(@conn, :list) do %>
                <i title="draft" class="fa fa-feed" aria-hidden="true"></i> Feed URL
              <% end %>
            <% end %>
            <%= if @conn.private.phoenix_controller == SqueakWeb.BlogController and @conn.private.phoenix_action == :list_by_user_slug do %>
              <%= link to: SqueakWeb.Router.Helpers.blog_feed_url(@conn, :list_by_user_slug, @user.slug) do %>
                <i title="draft" class="fa fa-feed" aria-hidden="true"></i> Feed URL
              <% end %>
            <% end %>
            <%= if @conn.private.phoenix_controller == SqueakWeb.BlogController and @conn.private.phoenix_action == :list_by_tag_slug do %>
              <%= link to: SqueakWeb.Router.Helpers.blog_feed_url(@conn, :list_by_tag_slug, @tag.slug) do %>
                <i title="draft" class="fa fa-feed" aria-hidden="true"></i> Feed URL
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Tags</h5>
          <div class="card-body">
            <div class="tag_cloud">
              <%= if length(@blog_tags) > 0 do %>
                <%= for tag <- @blog_tags do %>
                  <span class="tag_cloud_item"><%= link tag.name, to: SqueakWeb.Router.Helpers.blog_path(@conn, :list_by_tag_slug, tag.slug) %></span>
                <% end %>
              <% else %>
                No tags.
              <% end %>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%= render "_footer.html", conn: @conn, current_user: @current_user %>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/jquery-3.5.1.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/bootstrap.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/moment-with-locales.min.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/phoenix.js") %>"></script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors/phoenix_html.js") %>"></script>
  <%= render_existing @view_module, "scripts.html", assigns %>
  <%= render_existing @view_module, "#{@conn.private.phoenix_action}_scripts.html", assigns %>
</body>

</html>
