/* Picker CSS. */

@import "palette";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/fork-awesome/css/fork-awesome";
@import "../node_modules/select2/dist/css/select2";
@import "../node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4";

@import "alerts";

body {
    margin-top: 1em;
}

div.mm-cards {
    margin-top: 1em;
    margin-bottom: 2em;
}

div.mm-card {
    margin-right: 1em;
}

div.mediaShow {
    margin-top: 1em;
    margin-bottom: 2em;
}

ul.picker-modal-sizes {
    list-style: none;
}

ul.picker-modal-sizes li {
    margin-bottom: 5px;
}