<script>
opts = {
    element: document.getElementById('post_content'),
    autoDownloadFontAwesome: false,
    autofocus: true,
    autosave: {enabled: false},
    forceSync: true,
    indentWithTabs: false,
    spellChecker: false
}
let easyMDE = new EasyMDE(opts);
</script>
