<script>
opts = {
    element: document.getElementById('post_content'),
    autoDownloadFontAwesome: false,
    autofocus: true,
    autosave: {enabled: false},
    forceSync: true,
    indentWithTabs: false,
    spellChecker: false,
    uploadImage: false,
    parsingConfig: {
        strikethrough: true
    },
    sideBySideFullscreen: false
}
let easyMDE = new EasyMDE(opts);
</script>
